.Control {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Control_title {
    margin-bottom: 2%;
}

.Control_box {
    width: 90%;
    height: 70%;
    padding-top: 1%;
    overflow: scroll;
    scrollbar-width: none;
    border: 3px solid rgb(129, 129, 129);

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    font-size: 0.8em;
    background-color: white;
}

.Control_card-selected, .Control_card-unselected {
    width: 30%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    padding: 1%;
    margin: 1%;
    text-align: left;

    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
}

.Control_card-selected {
    transition: all ease 0.3s;
    background-color: rgb(0, 211, 130);
}

.Control_card-unselected {
    background-color: rgb(34, 218, 218);
}

.Control_button {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Control_button-del, 
.Control_button-mod, 
.Control_button-del-disable, 
.Control_button-mod-disable {
    width: 30%;
    height: 6vh;
    margin: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-weight: 500;  
    font-size: 1em; 
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}

.Control_button-del-disable {
    background-color: #ad7e7e;
}

.Control_button-mod-disable {
    background-color: #8a9ebb;
}

.Control_button-del {
    background-color: #ff0000;
}

.Control_button-del:hover {
    background-color: #750000;
} 

.Control_button-mod {
    background-color: #0066ff;
}

.Control_button-mod:hover {
    background-color: #003481;
}